---
apiVersion: apps/v1
kind: Deployment
metadata: 
  name: deploy 
spec:
  replicas: 3
  selector:
    matchLabels:
      app: swiggy
  template:
    metadata:
      name: swiggy-pod
      labels:
        app: swiggy
    spec:
      containers:
        - name: cont-1
          image: shaikmustafa/dm
          ports:
            - containerPort: 80
---
apiVersion: v1 
kind: Service 
metadata:
  name: swiggysvcnp
spec:
  type: NodePort
  selector:
    app: swiggy
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30008